.texts-item {
  grid-area: texts;
  display: grid;
}
.imgs-item {
  display: grid;
  grid-area: imgs;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
}
.bigimg-item {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50%;
  grid-area: bigimg;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("http://www.funnycatpix.com/_pics/Big_Cat_Eyes.jpg");
}
.texts-item2 {
  grid-area: texts2;
}
.App {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50%;
  grid-template-areas:
    "texts imgs"
    "bigimg texts2";
  height: 100vh;
}
.cat-img {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("http://www.funnycatpix.com/_pics/Big_Cat_Eyes.jpg");
}
.block {
  display: flex;
  flex-direction: column;
  align-items: center;
}
img {
  max-width: 100%;
  height: auto;
}

.btn-more {
  display: inline-block;
  padding: 10px;
  color: #61dafb;
  background-color: #ffffff;
  border: 1px solid #61dafb;
}

.header-subtitle {
  color: #61dafb;
  text-transform: uppercase;
}

.header-title {
  text-transform: uppercase;
  margin-bottom: 0px;
}
.header {
  margin-bottom: 3rem;
}

.container-text {
  padding: 0px 4rem;
  margin-bottom: 3rem;
}
